@import "./global.css";

.header {
  margin-top: 20px;
}
.header__container {
  display: flex;
  align-items: center;
}

.site__logo {
  width: 100%;
  max-width: 150px;
  height: 40px;
  margin-right: 20px;
}
.header__menu__conteiner {
  margin-right: auto;
}
.menu__list {
  display: flex;
  align-items: center;
}

.menu__list__item__link {
  padding: 18px 16px;
  color: #000000;
  &:hover {
    color: #299764;
  }
  &:active {
    opacity: 0.6;
  }
}
.header__phone-number {
  margin-right: 24px;
  color: #000000;
  font-weight: 600;
  font-size: 18px;
  line-height: 21.94px;
}
.dark-mode__icon {
  padding: 18px;
  background-color: #f5f5f5;
  border-radius: 999px;
  margin-right: 16px;
  &:hover {
    cursor: pointer;
  }
}
.login__btn {
  border-radius: 100px;
  padding: 18px 30px;
  background-color: #299764;
  color: white;
  border: none;
  font-weight: 500;
  font-size: 18px;
  line-height: 21.94px;
  align-items: center;
  &:hover {
    background-color: black;
    transition: 0.4s;
    cursor: pointer;
  }
  &:active {
    opacity: 0.6;
  }
}

.section1__container {
  margin-bottom: 100px;
}

.section1__image {
  width: 1200;
  height: 500;
  border-radius: 20px;
}

.section1__form__input {
  border-radius: 100px;
  padding: 22px 256px 22px 30px;
  font-weight: 500;
  font-size: 18px;
  line-height: 21.94px;
  border: none;
  box-shadow: 0px 4px 10px 0px #00000026;
}

.section1__form__icon {
  background-color: #299764;
  padding: 17px;
  border-radius: 999px;
  margin-left: -70px;
  margin-top: 5px;
  margin-bottom: 5px;
  &:hover {
    background-color: black;
    transition: 0.4s;
  }
}

.section1__form__container {
  justify-content: center;
  margin-top: -45px;
  display: flex;
}

.section2_-title {
  font-weight: 600;
  font-size: 36px;
  line-height: 43.88px;
  text-align: center;
  margin-bottom: 10px;
}
.section2__paragraph {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #555555;
  width: 568px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  margin-bottom: 40px;
}
.section2__btn__group {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  margin-bottom: 24px;
}
.btn__compact {
  border-radius: 100px;
  padding: 19px 40px;
  background-color: #299764;
  border: none;
  color: white;
  font-weight: 500;
  font-size: 16px;
  line-height: 19.5px;
  &:hover {
    background-color: #000000;
    color: white;
    transition: 0.4s;
  }
  &:active {
    opacity: 0.6;
  }
}
.btn__sports-care {
  font-weight: 500;
  font-size: 16px;
  line-height: 19.5px;
  padding: 19px 40px;
  border-radius: 100px;
  border: 1.5px solid #e5e7ea;
  color: #000000;
  background-color: white;
  &:hover {
    background-color: #000000;
    color: white;
    transition: 0.4s;
  }
  &:active {
    opacity: 0.6;
  }
}
.btn__vans {
  font-weight: 500;
  font-size: 16px;
  line-height: 19.5px;
  padding: 19px 40px;
  border-radius: 100px;
  border: 1.5px solid #e5e7ea;
  color: #000000;
  background-color: white;
  &:hover {
    background-color: #000000;
    color: white;
    transition: 0.4s;
  }
  &:active {
    opacity: 0.6;
  }
}

.view-all__btn {
  margin-top: 40px;
  margin-left: 500px;
  border-radius: 100px;
  padding: 19px 40px;
  background-color: #299764;
  border: none;
  color: white;
  font-weight: 500;
  font-size: 16px;
  line-height: 19.5px;
  &:hover {
    background-color: #000000;
    color: white;
    transition: 0.4s;
  }

  &:active {
    opacity: 0.6;
  }
}

.cards__list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 20px;
  gap: 10px;
}
.cards__list__item {
  background-color: #f5f5f5;
  border-radius: 16px;
  &:hover {
    box-shadow: 0px 0px 20px #299764;
    transition: 0.4s;
  }
}
.cards__item__name {
  font-weight: 600;
  font-size: 24px;
  line-height: 29.26px;
  margin-top: 30px;
  margin-left: 24px;
}
.cards__item__type {
  color: #555555;
  font-weight: 500;
  font-size: 16px;
  line-height: 19.5px;
  margin-left: 24px;
}
.cards__item__image {
  margin-top: 36px;
}
.cards__item__feature1 {
  /* justify-items: center; */
  display: flex;
  align-items: center;
  margin-left: 24px;
  gap: 80px;
  margin-bottom: 24px;
}
.cards__seats {
  display: flex;
  align-items: center;
  gap: 12px;
}

.seats__text {
  font-weight: 500;
  font-size: 16px;
  line-height: 19.5px;
}
.cards__mode {
  display: flex;
  align-items: center;
  gap: 12px;
}

.cards__mode__text {
  font-weight: 500;
  font-size: 16px;
  line-height: 19.5px;
}
.cards__item__feature2 {
  display: flex;
  align-items: center;
  margin-left: 24px;
  gap: 66px;
  justify-items: center;
  margin-bottom: 30px;
}
.cards__age {
  display: flex;
  align-items: center;
  gap: 12px;
}

.cards__age__text {
  font-weight: 500;
  font-size: 16px;
  line-height: 19.5px;
}
.cards__active {
  display: flex;
  align-items: center;
  gap: 12px;
}

.cards__active__text {
  font-weight: 500;
  font-size: 16px;
  line-height: 19.5px;
}

.section4 {
  margin-top: 160px;
  margin-bottom: 160px;
}

.cars__brand {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.section4__title {
  font-weight: 500;
  font-size: 24px;
  line-height: 29.26px;
  margin-bottom: 34px;
}

.cars__brand__item {
  border-radius: 35px;
  padding: 18px 20px;
  &:hover {
    cursor: pointer;
    box-shadow: 0px 0px 30px #299764;
    transition: 0.2s;
  }
  &:active {
    opacity: 0.5;
  }
}

.sectoion5 {
  margin-bottom: 160px;
}

.section5__title {
  text-align: center;
  font-weight: 600;
  font-size: 36px;
  line-height: 43.88px;
  margin-bottom: 10px;
}
.section5__description {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 40px;
  text-align: center;
}
.service__list1 {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
}
.service__book__wrapper {
  background-color: #f5f5f5;
  border-radius: 15px;
  height: 216px;
  width: 590px;
}
.service__book {
  display: flex;
  align-items: center;
}
.service__book__title {
  margin-right: 274px;
  font-weight: 500;
  font-size: 32px;
  line-height: 39.01px;
  margin-bottom: 10px;
  padding-top: 40px;
  padding-left: 32px;
}

.service__book__description {
  padding-left: 32px;
  margin-bottom: 40px;
}
.service__reservation {
  background-color: #f5f5f5;
  width: 590px;
  align-items: center;
  border-radius: 15px;
  height: 216px;
}
.reservation__book {
  display: flex;
  align-items: center;
  width: 590px;
}
.reservation__book__title {
  font-weight: 500;
  font-size: 32px;
  line-height: 39.01px;
  margin-right: 198px;
  margin-top: 40px;
  margin-left: 32px;
  margin-bottom: 10px;
}

.reservation__book__description {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 40px;
  margin-left: 32px;
}
.service__list2 {
  display: flex;
  align-items: center;
  gap: 20px;
}
.customer__service__wrapper {
  height: 216px;
  margin-right: 20px;
  background-color: #f5f5f5;
  width: 590px;
  border-radius: 15px;
}

.customer__service {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.customer__service__title {
  font-weight: 500;
  font-size: 32px;
  line-height: 39.01px;
  margin: 40px 180px 10px 32px;
}
.customer__service__icon {
  margin-right: 34px;
}
.customer__service__description {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-left: 32px;
  margin-bottom: 40px;
  width: 354px;
  margin-right: 204px;
}
.fee__wrapper {
  background-color: #f5f5f5;
  border-radius: 20px;
  align-items: center;
  width: 590px;
}
.fee {
  display: flex;
  align-items: center;
}

.fee__description {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-left: 32px;
  margin-bottom: 40px;
  margin-right: 204px;
}

.fee__title {
  font-weight: 500;
  font-size: 32px;
  line-height: 39.01px;
  margin-top: 40px;
  margin-right: 140px;
  margin-bottom: 10px;
  margin-left: 32px;
}
